!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title 
      = "#{site.title}" 
      - if page.title
        = " :: #{page.title}"
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .container
      .row
        .span2{:style=>"min-height:1px;"}
          %ul.nav.nav-tabs.nav-stacked.span2.visible-desktop#main_nav
            %li
              %a{ :href=>"#{site.base_url}" } 
                %i.icon-home
                Home
            %li
              %a{ :href=>"#{site.base_url}/news" } 
                %i.icon-bullhorn
                News
            %li
              %a{ :href=>"#{site.base_url}/roadmap" } 
                %i.icon-road
                Road map
            %li
              %a{ :href=>"#{site.base_url}/faq" } 
                %i.icon-question-sign
                FAQ
            %li
              %a{ :href=>"#{site.base_url}/contribute" } 
                %i.icon-edit
                Contribute
            %li
              %a{ :href=>"https://community.jboss.org/en/weld" } 
                %i.icon-group
                Forum
            %li
              %a{ :href=>"https://issues.jboss.org/browse/CDI" } 
                %i.icon-tasks
                Bug tracker
          %a.hidden-desktop#toggle_menu{:href=>"#"}
            %i.icon-exchange
          %ul.nav.nav-tabs.nav-stacked.span2.hide.hidden-desktop#mobile_menu
            %li
              %a{ :href=>"#{site.base_url}" } 
                %i.icon-home
                Home
            %li
              %a{ :href=>"#{site.base_url}/news" } 
                %i.icon-bullhorn
                News
            %li
              %a{ :href=>"#{site.base_url}/roadmap" } 
                %i.icon-road
                Road map
            %li
              %a{ :href=>"#{site.base_url}/faq" } 
                %i.icon-question-sign
                FAQ
            %li
              %a{ :href=>"#{site.base_url}/contribute" } 
                %i.icon-edit
                Contribute
            %li
              %a{ :href=>"https://community.jboss.org/en/weld" } 
                %i.icon-group
                Forum
            %li
              %a{ :href=>"https://issues.jboss.org/browse/CDI" } 
                %i.icon-tasks
                Bug tracker
        .span10
          %img{:src=>"#{site.base_url}/images/cdi_word_cloud_white.gif", :width=>"834", :height=>"334"}
          .row
            ~ content
          %hr
          %footer
  %script{ :type=>'text/javascript', :src=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" }
  :javascript
    $(document).ready(function() {
      $('#toggle_menu').click(function(){
        $("#mobile_menu").toggle();
      });
    });
